/* Todos os elementos da página */
*{
    margin: 0;
    padding: 0;
}

/* Elementos com o ID "titulo" */
#titulo{
    font-family: sans-serif;
    font-size: 1.2em;
    color: #9b2907;
    margin-left: 18%;
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #9b2907;
} 


/* Elemento de tag <body> */
body{
    background-image:linear-gradient(#ecf2f8,#eeee85);
    font-family: sans-serif;
    font-size: 1em;
    color: #9b2907;
    margin-left: 20%;
    margin-top: 0%;
    justify-content: center;
}

